{
    "cluster": "{{ ENVIRONMENT }}-dev-trino-service",
    "service": "{{ ENVIRONMENT }}-dev-trino-service",
    "desiredCount": {{ TRINO_DESIRED_COUNT }},
    "taskDefinition": "{{ ENVIRONMENT }}-dev-trino-service",
    "healthCheckGracePeriodSeconds": 120
}